.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #f0c14b00;
  border: 2px solid;
  margin-top: 10px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: #111;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 3px;
}

.checkoutProduct__info > button:hover {
    transition: 500ms;
  color: white;
  background-color: rgb(66, 66, 66);
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}