.subtotal, .payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
  
  .subtotal__gift {
    display: flex;
    align-items: center;
  }
  
  .subtotal__gift > input {
    margin-right: 5px;
  }
  
  

  .subtotal > button, .payment > button, .btn {
    background: #f0c14b00;
    border: 2px solid;
    margin-top: 10px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: #111;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 3px;
  }
  
  .subtotal > button:hover, .payment > button:hover, .btn:hover {
    transition: 500ms;
    color: white;
    background-color: rgb(66, 66, 66);
  }

  .payment {
    position: absolute;
    width: 50vw;
    right: 25vw;
    height: auto;
    box-shadow: 0 0 105px 1005px rgba(71, 71, 71, 0.397);
  }

  .payment__close {
    text-align: end;
    margin-left: 97%;
    width: 10px;
    color: rgb(158, 158, 158);
    cursor: pointer;
    transition: 500ms;

  }

  .payment__close:hover{
    color: #111;
    transition: 500ms;
  }

  .btn {
    max-width: 250px;
    margin-bottom: 20px;
  }